EXT_PACKAGES_NAME[1]="luci-app-usb-printer"
EXT_PACKAGES_PATH[1]="applications/luci-app-usb-printer"
EXT_PACKAGES_REPOSITORIE[1]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[1]=""
EXT_PACKAGES_NAME[2]="luci-app-vlmcsd"
EXT_PACKAGES_PATH[2]="applications/luci-app-vlmcsd"
EXT_PACKAGES_REPOSITORIE[2]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[2]=""
EXT_PACKAGES_NAME[3]="luci-app-webadmin"
EXT_PACKAGES_PATH[3]="applications/luci-app-webadmin"
EXT_PACKAGES_REPOSITORIE[3]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[3]=""
EXT_PACKAGES_NAME[4]="luci-app-cifs-mount"
EXT_PACKAGES_PATH[4]="applications/luci-app-cifs-mount"  
EXT_PACKAGES_REPOSITORIE[4]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[4]=""
EXT_PACKAGES_NAME[5]="luci-app-netdata"
EXT_PACKAGES_PATH[5]="applications/luci-app-netdata"
EXT_PACKAGES_REPOSITORIE[5]="https://github.com/coolsnowwolf/luci"
EXT_PACKAGES_BRANCH[5]=""
EXT_PACKAGES_NAME[6]="vlmcsd"
EXT_PACKAGES_PATH[6]="net/vlmcsd"
EXT_PACKAGES_REPOSITORIE[6]="https://github.com/coolsnowwolf/packages"
EXT_PACKAGES_BRANCH[6]=""
EXT_PACKAGES_NAME[7]="ipv6-helper"
EXT_PACKAGES_PATH[7]="package/lean/ipv6-helper"
EXT_PACKAGES_REPOSITORIE[7]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[7]=""
EXT_PACKAGES_NAME[8]="ddns-scripts_aliyun"
EXT_PACKAGES_PATH[8]="package/lean/ddns-scripts_aliyun"
EXT_PACKAGES_REPOSITORIE[8]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[8]=""
EXT_PACKAGES_NAME[9]="ddns-scripts_dnspod"
EXT_PACKAGES_PATH[9]="package/lean/ddns-scripts_dnspod"
EXT_PACKAGES_REPOSITORIE[9]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[9]=""
EXT_PACKAGES_NAME[10]="r8168"
EXT_PACKAGES_PATH[10]="package/lean/r8168"
EXT_PACKAGES_REPOSITORIE[10]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[10]=""
EXT_PACKAGES_NAME[11]="r8152"
EXT_PACKAGES_PATH[11]="package/lean/r8152"
EXT_PACKAGES_REPOSITORIE[11]="https://github.com/coolsnowwolf/lede"
EXT_PACKAGES_BRANCH[11]=""
EXT_PACKAGES_NAME[12]="shortcut-fe"
EXT_PACKAGES_PATH[12]="shortcut-fe"
EXT_PACKAGES_REPOSITORIE[12]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[12]="package"
EXT_PACKAGES_NAME[13]="luci-app-rclone"
EXT_PACKAGES_PATH[13]="applications/luci-app-rclone"
EXT_PACKAGES_REPOSITORIE[13]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[13]=""
EXT_PACKAGES_NAME[14]="luci-app-zerotier"
EXT_PACKAGES_PATH[14]="applications/luci-app-zerotier"
EXT_PACKAGES_REPOSITORIE[14]="https://github.com/immortalwrt/luci"
EXT_PACKAGES_BRANCH[14]=""
EXT_PACKAGES_NAME[15]="luci-app-fileassistant"
EXT_PACKAGES_PATH[15]="luci-app-fileassistant"
EXT_PACKAGES_REPOSITORIE[15]="https://github.com/Lienol/openwrt-package"
EXT_PACKAGES_BRANCH[15]=""
EXT_PACKAGES_NAME[16]="luci-app-passwall"
EXT_PACKAGES_PATH[16]="luci-app-passwall"
EXT_PACKAGES_REPOSITORIE[16]="https://github.com/xiaorouji/openwrt-passwall"
EXT_PACKAGES_BRANCH[16]="luci"
EXT_PACKAGES_NAME[17]="openwrt-passwall"
EXT_PACKAGES_PATH[17]=""
EXT_PACKAGES_REPOSITORIE[17]="https://github.com/xiaorouji/openwrt-passwall"
EXT_PACKAGES_BRANCH[17]="packages"
EXT_PACKAGES_NAME[18]="passwall2"
EXT_PACKAGES_PATH[18]="luci-app-passwall2"
EXT_PACKAGES_REPOSITORIE[18]="https://github.com/xiaorouji/openwrt-passwall2"
EXT_PACKAGES_BRANCH[18]=""
EXT_PACKAGES_NAME[19]="nft-fullcone"
EXT_PACKAGES_PATH[19]=""
EXT_PACKAGES_REPOSITORIE[19]="https://github.com/fullcone-nat-nftables/nft-fullcone"
EXT_PACKAGES_BRANCH[19]=""
EXT_PACKAGES_NAME[20]="luci-app-turboacc"
EXT_PACKAGES_PATH[20]="luci-app-turboacc"
EXT_PACKAGES_REPOSITORIE[20]="https://github.com/chenmozhijin/turboacc"
EXT_PACKAGES_BRANCH[20]=""
EXT_PACKAGES_NAME[21]="luci-app-adguardhome"
EXT_PACKAGES_PATH[21]=""
EXT_PACKAGES_REPOSITORIE[21]="https://github.com/chenmozhijin/luci-app-adguardhome"
EXT_PACKAGES_BRANCH[21]=""
EXT_PACKAGES_NAME[22]="luci-app-argon-config"
EXT_PACKAGES_PATH[22]=""
EXT_PACKAGES_REPOSITORIE[22]="https://github.com/jerrykuku/luci-app-argon-config"
EXT_PACKAGES_BRANCH[22]=""
EXT_PACKAGES_NAME[23]="luci-app-diskman"
EXT_PACKAGES_PATH[23]="applications/luci-app-diskman"
EXT_PACKAGES_REPOSITORIE[23]="https://github.com/lisaac/luci-app-diskman"
EXT_PACKAGES_BRANCH[23]=""
EXT_PACKAGES_NAME[24]="luci-app-netspeedtest"
EXT_PACKAGES_PATH[24]=""
EXT_PACKAGES_REPOSITORIE[24]="https://github.com/sirpdboy/NetSpeedTest"
EXT_PACKAGES_BRANCH[24]=""
EXT_PACKAGES_NAME[25]="luci-app-wechatpush"
EXT_PACKAGES_PATH[25]=""
EXT_PACKAGES_REPOSITORIE[25]="https://github.com/tty228/luci-app-wechatpush"
EXT_PACKAGES_BRANCH[25]=""
EXT_PACKAGES_NAME[26]="luci-theme-argon"
EXT_PACKAGES_PATH[26]=""
EXT_PACKAGES_REPOSITORIE[26]="https://github.com/jerrykuku/luci-theme-argon"
EXT_PACKAGES_BRANCH[26]=""
EXT_PACKAGES_NAME[27]="luci-app-socat"
EXT_PACKAGES_PATH[27]="luci-app-socat"
EXT_PACKAGES_REPOSITORIE[27]="https://github.com/chenmozhijin/luci-app-socat"
EXT_PACKAGES_BRANCH[27]=""
EXT_PACKAGES_NAME[28]="r8125"
EXT_PACKAGES_PATH[28]=""
EXT_PACKAGES_REPOSITORIE[28]="https://github.com/sbwml/package_kernel_r8125"
EXT_PACKAGES_BRANCH[28]=""
EXT_PACKAGES_NAME[29]="luci-app-openclash"
EXT_PACKAGES_PATH[29]="luci-app-openclash"
EXT_PACKAGES_REPOSITORIE[29]="https://github.com/vernesong/OpenClash"
EXT_PACKAGES_BRANCH[29]=""
