#
# Network
#
#
# Download Manager
#
CONFIG_PACKAGE_ariang=y
# end of Download Manager
#
# File Transfer
#
CONFIG_PACKAGE_aria2=y
#
# Aria2 Configuration
#
CONFIG_ARIA2_OPENSSL=y
CONFIG_ARIA2_LIBXML2=y
CONFIG_ARIA2_BITTORRENT=y
CONFIG_ARIA2_METALINK=y
CONFIG_ARIA2_SFTP=y
CONFIG_ARIA2_ASYNC_DNS=y
CONFIG_ARIA2_COOKIE=y
CONFIG_ARIA2_WEBSOCKET=y
# end of Aria2 Configuration
CONFIG_PACKAGE_vsftpd-tls=y
CONFIG_PACKAGE_wget-ssl=y
# end of File Transfer
#
# Firewall
#
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-mod-extra=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_iptables-zz-legacy=n
CONFIG_PACKAGE_ip6tables-zz-legacy=n
CONFIG_PACKAGE_xtables-legacy=n
# end of Firewall
#
# IP Addresses and Names
#
CONFIG_PACKAGE_ddns-scripts=y
CONFIG_PACKAGE_ddns-scripts-cloudflare=y
CONFIG_PACKAGE_ddns-scripts-dnspod=y
CONFIG_PACKAGE_ddns-scripts-services=y
CONFIG_PACKAGE_ddns-scripts_aliyun=y
# end of IP Addresses and Names
#
# WWAN
#
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_comgt-ncm=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_uqmi=y
# end of WWAN
#
# Web Servers/Proxies
#
CONFIG_PACKAGE_cloudflared=y
# end of Web Servers/Proxies
CONFIG_PACKAGE_cifsmount=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_samba4-admin=y
CONFIG_PACKAGE_samba4-client=y
CONFIG_PACKAGE_samba4-libs=y
CONFIG_PACKAGE_samba4-utils=y
CONFIG_PACKAGE_socat=y
CONFIG_SOCAT_SSL=y
