#
# Base system
#
CONFIG_PACKAGE_block-mount=y
CONFIG_PACKAGE_ca-certificates=y
CONFIG_PACKAGE_libatomic=y
CONFIG_PACKAGE_libstdcpp=y
#
# Administration
#
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_sudo=y
# end of Administration
#
# Extra packages
#
CONFIG_PACKAGE_ipv6helper=y
# end of Extra packages
#
# Firmware
#
CONFIG_PACKAGE_bnx2x-firmware=y
CONFIG_PACKAGE_r8169-firmware=n
CONFIG_PACKAGE_rtl8188eu-firmware=y
CONFIG_PACKAGE_rtl8192cu-firmware=y
CONFIG_PACKAGE_rtl8192eu-firmware=y
CONFIG_PACKAGE_rtl8192se-firmware=y
CONFIG_PACKAGE_rtl8723au-firmware=y
CONFIG_PACKAGE_rtl8723bu-firmware=y
#
# Libraries
#
#
# Filesystem
#
CONFIG_PACKAGE_libsysfs=y
# end of Filesystem
# end of Libraries