#
# Utilities
#
#
# Disc
#
CONFIG_PACKAGE_cfdisk=y
# end of Disc
#
# libimobiledevice
#
CONFIG_PACKAGE_libimobiledevice-utils=y
CONFIG_PACKAGE_libusbmuxd-utils=y
CONFIG_PACKAGE_plistutil=y
CONFIG_PACKAGE_usbmuxd=y
# end of libimobiledevice
CONFIG_PACKAGE_bc=y
CONFIG_PACKAGE_containerd=y
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=128
CONFIG_PACKAGE_docker=y
CONFIG_PACKAGE_dockerd=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_qmi-utils=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_usbutils=y
