#
# Utilities
#
#
# Compression
#
CONFIG_PACKAGE_unzip=y
# end of Compression
#
# Disc
#
CONFIG_PACKAGE_blkid=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_lsblk=y
CONFIG_PACKAGE_mdadm=y
CONFIG_PACKAGE_parted=y
#
# Configuration
#
CONFIG_PARTED_READLINE=y
# end of Configuration
# end of Disc
#
# Filesystem
#
CONFIG_PACKAGE_attr=y
CONFIG_PACKAGE_btrfs-progs=y
CONFIG_PACKAGE_dosfstools=y
CONFIG_PACKAGE_exfat-fsck=y
CONFIG_PACKAGE_exfat-mkfs=y
CONFIG_PACKAGE_fuse-utils=y
CONFIG_PACKAGE_ntfs-3g=y
CONFIG_PACKAGE_NTFS-3G_HAS_PROBE=y
CONFIG_PACKAGE_ntfs-3g-utils=y
CONFIG_PACKAGE_sysfsutils=y
# end of Filesystem
#
# Shells
#
CONFIG_PACKAGE_bash=y
# end of Shells
#
# Terminal
#
CONFIG_PACKAGE_ttyd=y
# end of Terminal
#
# libimobiledevice
#
CONFIG_PACKAGE_libimobiledevice-utils=y
CONFIG_PACKAGE_libusbmuxd-utils=y
CONFIG_PACKAGE_plistutil=y
CONFIG_PACKAGE_usbmuxd=y
# end of libimobiledevice
CONFIG_PACKAGE_bc=y
CONFIG_PACKAGE_coremark=y
CONFIG_COREMARK_OPTIMIZE_O3=y
CONFIG_COREMARK_ENABLE_MULTITHREADING=y
CONFIG_COREMARK_NUMBER_OF_THREADS=128
CONFIG_PACKAGE_coreutils=y
CONFIG_PACKAGE_coreutils-base64=y
CONFIG_PACKAGE_coreutils-nohup=y
CONFIG_PACKAGE_dbus=y
CONFIG_PACKAGE_jq=y
CONFIG_PACKAGE_lm-sensors=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_pciids=y
CONFIG_PACKAGE_pciutils=y
CONFIG_PACKAGE_qmi-utils=y
CONFIG_PACKAGE_smartmontools=y
CONFIG_PACKAGE_smartmontools-drivedb=y
CONFIG_PACKAGE_ucode-mod-html=y
CONFIG_PACKAGE_ucode-mod-lua=y
CONFIG_PACKAGE_usb-modeswitch=y
CONFIG_PACKAGE_usbutils=y
# end of Utilities
