#
# Network
#
#
# BitTorrent
#
CONFIG_PACKAGE_qbittorrent-enhanced-edition=y
# end of BitTorrent
#
# File Transfer
#
CONFIG_PACKAGE_curl=y
CONFIG_PACKAGE_vsftpd-tls=y
CONFIG_PACKAGE_wget-ssl=y
# end of File Transfer
#
# Firewall
#
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-mod-ipopt=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_xtables-nft=y
# end of Firewall
#
# IP Addresses and Names
#
CONFIG_PACKAGE_avahi-dbus-daemon=y
CONFIG_PACKAGE_wsdd2=y
# end of IP Addresses and Names
#
# Printing
#
CONFIG_PACKAGE_p910nd=y
# end of Printing
#
# Routing and Redirection
#
CONFIG_PACKAGE_ip-full=y
CONFIG_PACKAGE_tc-tiny=y
# end of Routing and Redirection
#
# SSH
#
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-keygen=y
# end of SSH
#
# VPN
#
CONFIG_PACKAGE_zerotier=y
# end of VPN
#
# WWAN
#
CONFIG_PACKAGE_comgt=y
CONFIG_PACKAGE_comgt-ncm=y
CONFIG_PACKAGE_umbim=y
CONFIG_PACKAGE_uqmi=y
# end of WWAN
#
# Web Servers/Proxies
#
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
# end of Web Servers/Proxies
#
# WirelessAPD
#
CONFIG_PACKAGE_hostapd-common=y
CONFIG_WPA_MSG_MIN_PRIORITY=3
CONFIG_DRIVER_11AC_SUPPORT=y
CONFIG_WPA_MBO_SUPPORT=y
# end of WirelessAPD
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_chat=y
CONFIG_PACKAGE_cifsmount=y
CONFIG_PACKAGE_etherwake=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_homebox=y
CONFIG_PACKAGE_iperf3-ssl=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_iw=y
CONFIG_PACKAGE_krb5-libs=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_modemmanager=y
#
# Configuration
#
CONFIG_MODEMMANAGER_WITH_MBIM=y
CONFIG_MODEMMANAGER_WITH_QMI=y
CONFIG_MODEMMANAGER_WITH_QRTR=y
# end of Configuration
CONFIG_PACKAGE_netperf=y
CONFIG_PACKAGE_nlbwmon=y
CONFIG_PACKAGE_proto-bonding=y
CONFIG_PACKAGE_samba4-admin=y
CONFIG_PACKAGE_samba4-client=y
CONFIG_PACKAGE_samba4-libs=y
CONFIG_PACKAGE_samba4-server=y
CONFIG_SAMBA4_SERVER_WSDD2=y
CONFIG_SAMBA4_SERVER_NETBIOS=y
CONFIG_SAMBA4_SERVER_AVAHI=y
CONFIG_SAMBA4_SERVER_VFS=y
CONFIG_PACKAGE_samba4-utils=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_socat=y
CONFIG_SOCAT_SSL=y
CONFIG_PACKAGE_tcping=y
CONFIG_PACKAGE_vlmcsd=y
CONFIG_PACKAGE_wwan=y
# end of Network
